<div class="col-12">
    <div class="card">
        <div class="grid">
            <p-avatar class="col-1" image="https://www.primefaces.org/primeng/assets/showcase/images/demo/organization/walter.jpg" pBadge value="4" severity="danger" styleClass="mr-2" size="xlarge"></p-avatar>
            <div class="col-11">
                <h4><a routerLink="/detail/1">Chuyện hcc phi, Một số thắc mắc trong quyết định tăng học phí</a></h4>
                <span>by <a>User123</a></span> <br>
                <span> 06-04-2018, 14:20</span>
            </div>
        </div>
    </div>
</div>
