<div class="align-items-center flex justify-content-center lg:px-8 md:px-6 px-4 py-8 surface-ground ng-star-inserted">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
        <div class="text-center mb-5">
            <img src="../../../assets/img/logo.svg" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
            <span class="text-600 font-medium line-height-3">Don't have an account?</span>
            <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Create today!</a>
        </div>

        <form (ngSubmit)="onSubmit()" [formGroup]="formSignIn">
            <div class="mb-3">
                <label for="email1" class="block text-900 font-medium mb-2">User name</label>
                <input id="email1" formControlName="userName" type="text" pInputText class="w-full mb-1">
                <!-- <small class="p-error" *ngIf="(formSignIn.controls.userName?.errors?.required
            && formSignIn.controls.userName?.touched)||formSignIn.controls.userName?.errors?.pattern">{{formSignIn.controls.userName?.errors?.pattern?'User name must be 3-10 characters, no _ or . at the beginning, no __ or _. or ._ or .. inside, no _ or . at the end':'User name is required'}}</small> -->
                <small class="p-error" *ngIf="(userName.errors?.required
            && userName.touched)||userName.errors?.pattern">{{userName.errors?.pattern?'User name must be 3-10 characters, no _ or . at the beginning, no _ or . at the end':'User name is required'}}</small>
            </div>
            <div class="mb-3">
                <label for="password1" class="block text-900 font-medium mb-2">Password</label>
                <input id="password1" formControlName="password" type="password" pInputText class="w-full mb-1">
                <small class="p-error" *ngIf="(password.errors?.required
            && password.touched)||password.errors?.minlength">{{password.errors?.minlength?'Password must be at least 3 characters':'Password is required'}}</small>
            </div>
            <p-dialog header="Message" [(visible)]="error" [style]="{width: '50vw'}">
                <p>{{error}}</p>
                <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="error=null" label="Ok" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-dialog>
            <button [disabled]="!formSignIn.valid" pButton pRipple [loading]="isLoading" label="Sign In" icon="pi pi-user" class="w-full"></button>
        </form>
    </div>
</div>
